extends layout

block content
    nav.top-bar
        if username
            ul.title-area
                li.name
                    h1
                        a(href="#")= username
        else
            ul.has-form
                form
                    li
                        input(name="username")
                    li
                        input(type="password", name="password")
        section.top-bar-section
            ul.right
                li.divider
                li
                    a(href="#") example
    div.row
        div.large-12.columns
            h1 FamilyFit
    div.row
        div.large-12.columns
            div.panel
                h3 Welcome to FamilyFit, where you can get fit with your family!
            div.row
                div.large-4
                    h2 text
                div.large-4
                    h2 text
                div.large-4
                    h2 text