extends layout

block content
    div.row
        div.large-12.columns
            h1 FamilyFit
    div.row
        div.large-12.columns
            div.panel
                h3 Welcome to FamilyFit, where you can get fit with your family!
                div.row
                    div.large-4.columns
                        h2 Get Fit Together!
                        p Compare, Compete, and Collaborate with friends and family to get into shape.
                    div.large-4.columns
                        h2 Track your stats!
                        p FamilyFit uses advanced stat tracking and visualization technology to help keep you up to pace with your goals
                    div.large-4.columns
                        h2 Donate to Charity!
                        p Make a difference for others, and donate the "winnings" to a charity of your choice