doctype html
html
  head
    title= FamilyFit
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/foundation.min.js')
    script(type='text/javascript', src='/js/modernizr.js')
    script(type='text/javascript', src='/js/topbar.js')
  body
    nav.top-bar
        if username
            ul.title-area
                li.name
                    h1
                        a(href="#")= username
        else
            section.top-bar-section
                ul.left
                    li.has-form
                        div.row.collapse
                            div.large-5.small-5.columns
                                input(type="text", placeholder="Username" id="username")
                            div.large-5.small-5.columns
                                input(type="password", placeholder="Password" id="password")
                            div.large-2.small-2.columns
                                a(href="#" class="button expand" id="login") login
        section.top-bar-section
            ul.right
                li.divider
                li
                    a(href="#") example
                if username
                    li
                        a(href="#" class="button expand" id="logout") logout
    block content
