doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/foundation.min.js')
    script(type='text/javascript', src='/js/modernizr.js')
    script(type='text/javascript', src='/js/jquery.js')
    script
        $(document).foundation().foundation('joyride','start');
  body
    block content
