doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/foundation.min.css')
    script(type='text/javascript', src='/js/foundation.min.js')
    script(type='text/javascript', src='/js/modernizr.js')
    script(type='text/javascript', src='/js/jquery.js')
  body
    block content
